p{
    text-align: center;
    margin-top: 5%;
    font-size: 5rem;
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    text-align: center;
    margin-top: 15%;
}

input{
    position: absolute;
    margin-left: 47%;
}